* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 1px solid;
}

#lineDrawing {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
}

#lineDrawing svg {
	width: 50vw;
	align-self: center;
}

#lineDrawing svg path {
	transform: scale(2);
}