* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	font-family: 'Avenir';
}


/* Landing page container */

#landingPagecontainer {
	width: 100vw;
	height: 100vh;
}


/* Landing page text container */

#landingPagecontainer #hello {
	position: relative;
	text-align: center;
	top: 30vh;
	font-size: 3rem;
}


/* Container makes nameSVG responsive ...Fuck yeah */

#svgContainer {
	position: relative;
	top: 50vh;
	display: flex;
	justify-content: center;
}


/* Width of nameSVG */

svg {
	width: 27vw;
}